<p>Assignment 2</p>

<p>1.
        a. original number    : 4 5 5 1 2 0 2 1 4 3 7 5 1 6 6 8
           sum all odd digits: 8 + 6 + 5 + 3 + 1 + 0 + 1 + 5 = 29
           sum all even digits * 2: 8 + (10-9) + 4 + 4 + 8 + (14-9) + 2 + (12-9) = 35
           total sum: 35 + 29 = 64
           mod 10 = 4</p>

<pre><code>       a valid number would be 4551 2021 4375 1664

    b. original number: 5 4 2 1 3 8 2 5 6 1 2 9 8 5 3 1
       sum of odd digits: 1 + 5 + 9 + 1 + 5 + 8 + 1 + 4 = 34
       sum of even digits * 2: (10-9) + 4 + 6 + 4 + (12-9) + 4 + (16-9) + 6 = 35
       total sum: 34 + 35 = 69
       mod 10 = 9

       a valid number would be 5421 3825 6129 8532

    c. original number: 4 6 1 2 1 1 2 3 8 7 2 9 8 7 1 5
       sum of odd digits: 5 + 7 + 9 + 7 + 3 + 1 + 2 + 6 = 40
       sum of even digits * 2: 8 + 2 + 2 + 4 + (16-9) + 4 + (16-9) + 2 = 36
       total sum: 40 + 36 = 76
       mod 10 = 6

       a valid number would be 4612 1123 8729 8719

    d. original number: 6 4 3 2 1 0 9 8 7 6 5 3 2 1 0 9
       sum of odd digits: 9 + 1 + 3 + 6 + 8 + 0 + 2 + 4 = 33
       sum of even digits * 2: (12-9) + 6 + 2 + (18-9) + (14-9) + (10-9) + 4 + 0 = 30
       total sum: 63
       mod 10 = 3

       a valid number would be 6432 1098 7653 2106
</code></pre>

<p>2.</p>

<p>a.</p>

<p>This is what I see:</p>

<hr />

<p>Domain name forces.ca
Domain status   auto-renew grace
Creation date   2001/02/22
Expiry date 2018/02/22
Updated date    2017/02/22
DNSSEC  Unsigned</p>

<p>Registrar:
Name    Internic.ca Inc.
Number  29</p>

<p>Registrant:
Name    Department of National Defence</p>

<p>Administrative contact:
Name    Jim Malone
Postal address  350 King Edward Avenue 2nd Floor South
Ottawa ON K1A0X1 Canada
Phone   +1.6139477833
Fax:
Email   jim.malone@canada.ca</p>

<p>Technical contact:
Name    Jim Malone
Postal address  350 King Edward Avenue 2nd Floor South
Ottawa ON K1A0X1 Canada
Phone   +1.6139477833
Fax:
Email   jim.malone@canada.ca</p>

<p>Name servers:
ns1.gpnet.dnd.ca 131.137.255.2
ns2.gpnet.dnd.ca  131.137.252.252</p>

<p>% WHOIS look-up made at 2017-03-28 01:58:22 (GMT)
%
% Use of CIRA's WHOIS service is governed by the Terms of Use in its Legal
% Notice, available at http://www.cira.ca/legal-notice/?lang=en
%
% (c) 2017 Canadian Internet Registration Authority, (http://www.cira.ca/)</p>

<hr />

<p>This is the WHOIS data for the website forces.ca. It contains the owner's
address, phone number and when the website registration expires.</p>

<p>Good guys could use this information if they needed to report a vulnerability in
the site to it's owner directly or to get in contact with the owner of the
website for whatever reason.</p>

<p>Bad guys could use this information to do things like try and register the site
themselves when it expires, or use the owners personal information for malicious
purposes like identity theft.</p>

<p>b.</p>

<p>This is what I see:</p>

<hr />

<p>--- PING mit.edu (23.38.224.128) 56(84) bytes of data. ---
64 bytes from 23.38.224.128: icmp<em>seq=1 ttl=53 time=175 ms
64 bytes from 23.38.224.128: icmp</em>seq=2 ttl=53 time=179 ms
64 bytes from 23.38.224.128: icmp<em>seq=3 ttl=53 time=175 ms
64 bytes from 23.38.224.128: icmp</em>seq=4 ttl=53 time=175 ms</p>

<p>--- mit.edu ping statistics ---
packets transmitted     4
received    4
packet loss     0 %
time    3004 ms</p>

<p>--- Round Trip Time (rtt) ---
min     175.568 ms
avg     176.606 ms
max     179.211 ms
mdev    1.508 ms</p>

<hr />

<p>This is the information on the response time of the host. It tells me that it
took on average 175 milliseconds to hit the host and for them to send a reply
packet (TCP).</p>

<p>Good guys can use this data to check if the host is online and accessable, and
test it's response time for network performance.</p>

<p>Bad guys can use ping to DDoS the host by sending lots and lots of packets that
the host isn't able to handle.</p>

<p>c.</p>

<p>I see all the servers that the packets had to go through to be able to hit the
host located at www.ox.ac.uk. The only thing I see that is a bit suprising is
that it hit the oxford servers 4 or more times before hitting the actual server.</p>

<p>d.</p>

<p>United States
IP: 54.240.242.9
City: Washington, US</p>

<p>Europe
IP: 52.95.217.35
City: Washington, US</p>

<p>Asia/Pacific
The traceroute for Asia/Pacific did not hit any IP addresses that were shown in
the traceroute.</p>

<p>e.</p>

<p>The same route is taken again, however in this case it is because the site
caches the traceroute. I know this because the response times are the exact same
on each test.</p>

<p>In a real traceroute test the same path is taken each time once an efficient
route has been decided. The privacy issues of this are that by making the same
route the nodes in the middle are able to guess which site is being accessed by
which computer. Also each host in between the client and the destination is able
to see the ip address of the client and all the information being sent.</p>

<p>3.
a.
The first 10 hex digits I see are 7b 5c 72 74 66 31 5c 61 6e 73</p>

<p>b.
The first 10 hex digits I see are 25 50 44 46 2d 31 2e 32 0a 25
The trailer for pdf files in hex is 25 25 45 4f 46 0a</p>

<p>c.
I don't see a signature in hex for this type of file, however the trailer for
the file seems to be "0a"</p>

<p>d.
There are 10 digits in the hex checksum, The first 7 are 2661368. There are
40 digits in the checksum, the first 7 are d754cef.</p>

<p>e.
The checksum's changed completely, they are almost nothing alike.</p>

<p>The first 7 digits of the CRC checksum of the original file are 2661368 while
the first 7 digits of the CRC checksum of the modified file are 1976695.</p>

<p>The first 7 digits of the RIPEMD checksum of the original file are d754cef
while the first 7 digits of the RIPEMD checksum of the modified file are
60aea8d.</p>

<p>f.
Changing the filename of the file has no effect on it's checksum, as the
contents of the file are not being changed in any way. The checksums are the
same as the ones from part d.</p>

<p>g.
It won't open because the JPEG signature has been modified in the first 4 hex
digits. To get it to open I modified these digits to change them back to what a
standard jpeg signature should look like "FF D8 FF E1". The file then opened,
The picture is of a bunch of people taking pictures of fireworks on their
cellphones.</p>

<p>h. Comparing the file to the other word file in this assignment, it has the
exact same signature. The reason the file doesn't open is because it's not a pdf
file. It's a word doc file. By changing the file extention from pdf to doc the
file opens fine in word. The file contains no text and a picture of a transport
truck in a snowstorm.</p>

<p>4.
a.
Someone who might want to steal human resources payroll information might want
to be illegally accessed by criminals looking to steal financial information
either by using identity theft or by stealing the financial information itself.</p>

<p>Parking permit information might want to be illegally accessed by criminals
looking to steal your identity by using information like your name and license
plate.</p>

<p>Counseling centre information might want to be illegally accessed by someone
wanting to steal personal information for purposes like blackmail or identity
theft.</p>

<p>b.
The impact of human resources payroll being accessed or damaged would be
catastrophic, as financial data would be lost or stolen. This data can't be
recreated and would cause the school to get in lots of lawsuits with
individuals. The school would lose lots of reputation for losing the financial
data.</p>

<p>The impact of parking permit information being accessed or damaged is no big
deal really, the only information that would be lost would be names and license
plate numbers. This isn't enough to build a full profile on an individual, and
the data could easily be recreated using financial data.</p>

<p>The impact of counseling information being accessed or damaged would be serious.
Trent would lose reputation for losing people's personal information, and it
could be used to create a profile for identity theft. It has the potential for
lawsuits, but none that would be overly major. The data would be expensive to
recreate because you would have to get it from all the patients again.</p>

<p>c.</p>
